.navbar{
    padding: 20 px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 12px;
    min-height: 14px;
    background-color: tomato;
    border-radius: 6px;
    top: -8px;
    right: -8px;
}